@model Restaurant.WebApplication.ViewModels.DesignerViewModel
<!-- End header-->
<div class="ogami-breadcrumb">
    <div class="container">
        <ul>
            <li> <a class="breadcrumb-link" href="index.html"> <i class="fas fa-home"></i>Home</a></li>
            <li> <a class="breadcrumb-link active" href="#">About us</a></li>
        </ul>
    </div>
</div>
<!-- End breadcrumb-->
@Html.Raw(Model.AboutUsContent)

<!-- End about us-->