@model Restaurant.WebApplication.ViewModels.DesignerViewModel

<div class="ogami-breadcrumb">
    <div class="container">
        <ul>
            <li> <a class="breadcrumb-link" href="index.html"> <i class="fas fa-home"></i>Главная</a></li>
            <li> <a class="breadcrumb-link active" href="#">Контакты</a></li>
        </ul>
    </div>
</div>
<!-- End breadcrumb-->
@Html.Raw(Model.ContactUsContent)
