@model Restaurant.WebApplication.ViewModels.BlogMainViewModel
@{
    ViewData["Title"] = "Blogs";
}
@*admin role must see this section another section need to be designed*@
<table id="listingTable">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Created on</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model.Blogs)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.CreateDate.ToString("dd/MM/yyyy hh:mm")</td>
            <td><a href="/Blog/Create?Id=@item.Id"><span class="glyphicon glyphicon-edit" title="Edit"></span></a></td>
            <td><a href="/Blog/Delete/@item.Id"><span class="glyphicon glyphicon-trash" style="color:red" title="Delete"></span></a></td>
        </tr>
    }
</table>
@*admin role section end*@
