@model Restaurant.WebApplication.ViewModels.BlogMainViewModel
<div class="ogami-breadcrumb">
    <div class="container">
        <ul>
            <li> <a class="breadcrumb-link" href="/"> <i class="fas fa-home"></i>Главная</a></li>
            <li> <a class="breadcrumb-link active" href="/Blog">Блог</a></li>
        </ul>
    </div>
</div>
<!-- End breadcrumb-->
<div class="blog-layout">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-grid">
                    <div class="row">
                        @foreach (var blog in Model.Blogs)
                        {
                            <div class="col-md-6">
                                <div class="blog-block">
                                    <div class="blog-img">
                                        <a href="/Blog/Index?Id=@blog.Id">
                                            <img src="@(blog.BlogImages==null||blog.BlogImages.FirstOrDefault()==null?"~/images/blog/list_img_1.png":blog.BlogImages.FirstOrDefault().ImagePath)"
                                                 alt="blog image">
                                        </a>
                                    </div>
                                    <div class="blog-text">
                                        <a class="blog-title" href="/Blog/Index?Id=@blog.Id">@blog.Name</a>
                                        <div class="blog-credit">
                                            <p class="credit date">@blog.CreateDate.ToShortDateString()</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="blog-pagination">
                    <ul>
                        @for (int item = 1; item <= Model.PageCount; item++)
                        {
                            <li>
                                <button class="no-round-btn smooth active" onclick="location.href = '/Blog/Index?page=@item';">@item</button>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End blog layout-->