@model Restaurant.WebApplication.ViewModels.ViewModelBase
@{
    ViewData["Title"] = "Index";
}

<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-sm-3">
            <a href="/Designer/SlidersAll" class="designer-item">
                Slider
            </a>
        </div>

        <div class="col-sm-3">
            <a href="/Designer/Main" class="designer-item">
                AboutUs & ContactUs
            </a>
        </div>

        <div class="col-sm-3">

        </div>
    </div>
</div>

