@model Restaurant.WebApplication.ViewModels.DesignerViewModel

@{
    ViewData["Title"] = "Main";
}

<h2>Main</h2>

<h4>Designer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Main" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AboutUsContent" class="control-label"></label>
                <input asp-for="AboutUsContent" class="form-control" />
                <input type="hidden" asp-for="Id" class="form-control" />
                <span asp-validation-for="AboutUsContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactUsContent" class="control-label"></label>
                <input asp-for="ContactUsContent" class="form-control" />
                <span asp-validation-for="ContactUsContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

