@model Restaurant.WebApplication.ViewModels.CareerDetailViewModel

<div class="ogami-breadcrumb">
    <div class="container content-container">
        <ul>
            <li> <a class="breadcrumb-link" href="/"> <i class="fas fa-home"></i>Главная</a></li>
            <li> <a class="breadcrumb-link active" href="/Career">Карьера</a></li>
        </ul>
    </div>
</div>
<h3 style="text-transform:uppercase; border-bottom:1px solid #88c74a;">@Model.Career.Name</h3>
@Html.Raw(Model.Career.Description)
