<div class="ogami-breadcrumb">
    <div class="container">
        <ul>
            <li> <a class="breadcrumb-link" href="index.html"> <i class="fas fa-home"></i>Home</a></li>
            <li> <a class="breadcrumb-link active" href="#">Careers</a></li>
        </ul>
    </div>
</div>
<!-- End breadcrumb-->
<div class="blog-layout">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-grid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-block">
                                <div class="blog-img"><a href="blog_detail_sidebar.html"><img src="~/images/blog/list_img_1.png" alt="blog image"></a></div>
                                <div class="blog-text">
                                    <h5 class="blog-tag">Green</h5><a class="blog-title" href="blog_detail_sidebar.html">The Personality Trait That Makes People Happier</a>
                                    <div class="blog-credit">
                                        <p class="credit date">May 19, 2017</p>
                                        <p class="credit comment">3 Comment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-block">
                                <div class="blog-img"><a href="blog_detail_sidebar.html"><img src="~/images/blog/list_img_2.png" alt="blog image"></a></div>
                                <div class="blog-text">
                                    <h5 class="blog-tag">Green</h5><a class="blog-title" href="blog_detail_sidebar.html">The 2 Ways A Psychopath’s Brain Is Really Unusual</a>
                                    <div class="blog-credit">
                                        <p class="credit date">May 19, 2017</p>
                                        <p class="credit comment">3 Comment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-block">
                                <div class="blog-img"><a href="blog_detail_sidebar.html"><img src="~/images/blog/list_img_3.png" alt="blog image"></a></div>
                                <div class="blog-text">
                                    <h5 class="blog-tag">Fastfood</h5><a class="blog-title" href="blog_detail_sidebar.html">The Female Body Shape Men Find Most Attractive</a>
                                    <div class="blog-credit">
                                        <p class="credit date">May 19, 2017</p>
                                        <p class="credit comment">3 Comment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-block">
                                <div class="blog-img"><a href="blog_detail_sidebar.html"><img src="~/images/blog/list_img_4.png" alt="blog image"></a></div>
                                <div class="blog-text">
                                    <h5 class="blog-tag">Top of the week</h5><a class="blog-title" href="blog_detail_sidebar.html">The Personality Trait That Makes People Happier</a>
                                    <div class="blog-credit">
                                        <p class="credit date">May 19, 2017</p>
                                        <p class="credit comment">3 Comment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-block">
                                <div class="blog-img"><a href="blog_detail_sidebar.html"><img src="~/images/blog/list_img_5.png" alt="blog image"></a></div>
                                <div class="blog-text">
                                    <h5 class="blog-tag">Green</h5><a class="blog-title" href="blog_detail_sidebar.html">How To Get a Narcissist to Feel Empathy</a>
                                    <div class="blog-credit">
                                        <p class="credit date">May 19, 2017</p>
                                        <p class="credit comment">3 Comment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-block">
                                <div class="blog-img"><a href="blog_detail_sidebar.html"><img src="~/images/blog/list_img_6.png" alt="blog image"></a></div>
                                <div class="blog-text">
                                    <h5 class="blog-tag">Green</h5><a class="blog-title" href="blog_detail_sidebar.html">The Personality Trait That Makes People Happier</a>
                                    <div class="blog-credit">
                                        <p class="credit date">May 19, 2017</p>
                                        <p class="credit comment">3 Comment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-pagination">
                    <ul>
                        <li>
                            <button class="no-round-btn smooth active">1</button>
                        </li>
                        <li>
                            <button class="no-round-btn smooth">2</button>
                        </li>
                        <li>
                            <button class="no-round-btn smooth">3</button>
                        </li>
                        <li>
                            <button class="no-round-btn smooth"> <i class="arrow_carrot-2right"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End blog layout-->
<div class="partner">
    <div class="container">
        <div class="partner_block d-flex justify-content-between" data-slick="{&quot;slidesToShow&quot;: 6}">
            <div class="partner--logo" href=""> <a href="#"><img src="~/images/partner/partner_01.png" alt="partner logo"></a></div>
            <div class="partner--logo" href=""> <a href="#"><img src="~/images/partner/partner_02.png" alt="partner logo"></a></div>
            <div class="partner--logo" href=""> <a href="#"><img src="~/images/partner/partner_01.png" alt="partner logo"></a></div>
            <div class="partner--logo" href=""> <a href="#"><img src="~/images/partner/partner_02.png" alt="partner logo"></a></div>
            <div class="partner--logo" href=""> <a href="#"><img src="~/images/partner/partner_01.png" alt="partner logo"></a></div>
            <div class="partner--logo" href=""> <a href="#"><img src="~/images/partner/partner_02.png" alt="partner logo"></a></div>
            <div class="partner--logo" href=""> <a href=""><img src="~/images/partner/partner_01.png" alt="partner logo"></a></div>
        </div>
    </div>
</div>